.DS_Store
**/*.png
**/*.json
**/*.log
**/build/
**/dist/
**/node_modules/
**/__pycache__/
**/*egg-info
**/*.pkl
**/*.ipynb_*
*.json
*.jp*g
*.png
*.fit*
!schema/instrument_schema.json
!hmsa_origin*.png
!examples/*.fit
!webapp/electron/package-lock.json